<app-header></app-header>
<div class="login-wrapper">
  <form class="login-form" (ngSubmit)="onSubmit()">
    <h2>Login</h2>

    <div class="form-control">
      <input type="text" [(ngModel)]="userName" name="userName" placeholder="Username" required />
    </div>

    <div class="form-control">
      <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
    </div>

    <button type="submit">Login</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
  <p class="welcome-message">
    Welcome back, <span class="highlight">friend</span>!<br />
    I’m <span class="highlight">Yamen Amjed Assistent</span> i am going to be With You in this journey , and this is my
    personal site where I share my work.<br />
    If you already have an account, feel free to log in and explore.<br />
    if you do not have account go to <span class="highlight">registation</span> and make account.<br /><br/>
    <span class="highlight">We’re glad to have you here!</span><br />
    <em>"From river to the sea, peace and purpose 🌍"</em>
    <br>
    <em>"Gaza We Are With You"</em>
    <span class="highlight">
      <a class="hover:text-cyan-400 transition font-semibold  px-3 py-1 rounded hover:bg-cyan-500/10" (click)="goToPalestineHistory()">
        Click To See Palastion History
      </a>
    </span>


  </p>
</div>