<section class="bg-gray-800 py-12 px-6 text-center" id="skills">
  <h2 class="text-3xl font-semibold text-blue-300 mb-8">My Skills</h2>

  <div class="flex flex-wrap justify-center gap-8">
    @for (skill of skills; track $index) {
      <div class="flex flex-col items-center">
        <div class="bg-white rounded-full w-20 h-20 flex items-center justify-center shadow-lg hover:scale-110 transition-transform duration-300">
          <img [src]="skill.img" class="w-10 h-10 object-contain" />
        </div>
        <p class="text-sm text-white mt-4">{{ skill.name }}</p>
      </div>
    }
  </div>
</section>
