@use 'nzrm-ng/src/lib/styles/global-styles.scss';
@import 'primeicons/primeicons.css';
@import "tailwindcss";

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
  }
  
  .fade-delay-1 {
    animation-delay: 0.2s;
  }
  .fade-delay-2 {
    animation-delay: 0.5s;
  }
  .fade-delay-3 {
    animation-delay: 0.8s;
  }
  .fade-delay-4 {
    animation-delay: 1.1s;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  